Package: com.abart997.removedsound
Name: RemovedSound
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Play a sound when you remove something
Maintainer: Andrea Oliva
Author: Andrea Oliva
Section: Tweaks
